@model LibaryProject.Models.Entity.TblKategori
@{
    ViewBag.Title = "GetKategori";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@*Html Helper komutları ile güncelleme işlemi*@ 
@using (Html.BeginForm("UpdateKategori", "Kategori", FormMethod.Post))
            {
    <div style="margin-bottom:20px"></div>
    <div class="form-group">
        @Html.LabelFor(k=>k.ID)
        @Html.TextBoxFor(k=>k.ID, new { @class="form-control"})
        <br />
        @Html.LabelFor(k=>k.Ad)
        @Html.TextBoxFor(k => k.Ad, new {@class="form-control"})
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
            }
            

