
@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Kütüphaneden Görüntüler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Galeri</h2>
        <br />
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/WebSource/images/istockphoto-1200326335-1024x1024.jpg" alt="Los Angeles" style="width:100%;">
                </div>

                <div class="item">
                    <img src="~/WebSource/images/istockphoto-135341581-1024x1024.jpg" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="~/WebSource/images/istockphoto-145855054-1024x1024.jpg" alt="New york" style="width:100%;">
                </div>

                <div class="item">
                    <img src="~/WebSource/images/istockphoto-185215276-1024x1024.jpg" alt="New york" style="width:100%;">
                </div>

                <div class="item">
                    <img src="~/WebSource/images/istockphoto-523460307-1024x1024.jpg" alt="New york" style="width:100%;">
                </div>

                <div class="item">
                    <img src="~/WebSource/images/istockphoto-915681666-1024x1024.jpg" alt="New york" style="width:100%;">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Önceki</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Sonraki</span>
            </a>
        </div>
    </div>
</body>
</html>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div>
    <form action="/Istatistik/ResimYukle" method="post" enctype="multipart/form-data">
        <input type="file" name="dosya" id="dosya" class="btn btn-primary" />
        <br />
        <input type="submit" value="Kaydet" class="btn btn-warning" />
    </form>
</div>
