
@{
    ViewBag.Title = "HavaKart";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/41d0528d90/bayrampasa/" data-label_1="BAYRAMPAŞA" data-label_2="İstanbul" data-icons="Climacons Animated" data-theme="original">BAYRAMPAŞA İstanbul</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/41d2836d34/samsun/" data-label_1="SAMSUN" data-label_2="Türkiye" data-icons="Climacons Animated" data-theme="original">Samsun Türkiye</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/39d9332d86/ankara/" data-label_1="ANKARA" data-label_2="Türkiye" data-icons="Climacons Animated" data-theme="original">ANKARA Türkiye</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/38d4227d14/izmir/" data-label_1="İZMIR" data-label_2="Türkiye" data-icons="Climacons Animated" data-theme="original">İZMIR Türkiye</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/n33d9218d42/cape-town/" data-label_1="CAPE TOWN" data-label_2="Güney Afrika" data-icons="Climacons Animated" data-theme="original">CAPE TOWN Güney Afrika</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="Amerika" data-icons="Climacons Animated" data-theme="original">NEW YORK Amerika</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>