
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Giriş</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="~/WebSource/admin-login/style.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="login-form">
        <form>
            <h1>Admin Giriş</h1>
            <div class="content">
                <div class="input-field">
                    <input type="email" placeholder="e-Mail" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Şifre" autocomplete="new-password">
                </div>
                <a href="#" class="link">Şifrenizi mi unuttunuz ?</a>
            </div>
            <div class="action" style="background-color:darkblue">
                <button class="btn btn-warning" >Giriş</button>
            </div>
        </form>
    </div>
    <!-- partial -->
    <script src="~/WebSource/admin-login/script.js"></script>
</body>
</html>
